@font-face {
  font-family: 'HMOS';
  src: url('/docs/.vitepress/theme/HarmonyOS_Sans_SC_Medium.90.woff2') format('woff2');
}

:root {
    --vp-font-family-base: HMOS, HarmonyOS Sans SC Bold, OPPO Sans, -apple-system, MiSans /* normal text font */
    --vp-font-family-mono: JetBrains Mono /* code font */
  }